@model Photo

<div class="container px-4 py-3">
    <h2 class="d-flex w-100 justify-content-between pb-2 mb-3 border-bottm">
        <div>@Model?.Title</div>
        <div>@Model?.Location</div>
    </h2>
</div>