<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">There are no articles in this category</h5>
                <div class="card-text text-muted">
                    <small>I haven't written any articles in this category, yet</small>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <img src="~/images/qrcode_sm.jpg" class="img-fluid rounded-start" width="200" alt="">
        </div>
    </div>
</div>