@{
    ViewData["Title"] = "About This Website";
}

<div class="container px-4 py-3">
    <h2 class="d-flex w-100 justify-content-between pb-2 mb-3 border-bottom">
        <div>About</div>
        <div>About the Website</div>
    </h2>
    <div class="row">
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">About me</h5>
                    <h6 class="card-subtitle mb-2 text-muted">John Yang (shimakaze09)</h6>
                    <p class="card-text">Hobbyist programmer, Linux beginner, amateur modeler, science enthusiast</p>
                    <a href="https://github.com/shimakaze09" class="card-link" target="_blank">GitHub</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Main Skills</h5>
                    <p class="card-text text-muted">Primarily focused on CRUD, proficient in using search engines, skilled in various Copy-Paste operations, master of git clone code transfer techniques</p>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">Backend Development / C#</div>
                    <div class="list-group-item">Frontend Development / React / Vue</div>
                    <div class="list-group-item">Desktop Development / C / C++</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <img src="~/images/codelab.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Code Design Laboratory</h5>
                    <div class="card-text">A technology exploration and sharing place</div>
                    <small class="card-text text-muted">
                        Focused on exploring popular internet technologies and agile team development practices, including web frontend and backend, desktop application, Linux, and C/C++ programming. As a hobbyist C++ programmer still learning, I document my journey, share insights, and provide resources for those interested in these fields. Topics covered will range from HTML, CSS, JavaScript, and React to Node.js, various frameworks, and advanced C++ concepts. I encourage discussion, experience sharing, and collaborative learning.
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>