@using Contrib.Extensions
@model BlogList
@{
    ViewData["Title"] = "Blog list";
}

@foreach (var post in Model.Posts)
{
    <div class="card mb-3">
        <div class="card-header">
            @post.Category.Name
        </div>
        <div class="card-body">
            <h5 class="card-title">@post.Title</h5>
            <p class="card-text">
                @post.Content.Limit(200)
            </p>
            <a class="btn btn-outline-secondary" asp-controller="Blog" asp-action="Details" asp-route-id="@post.Id">
                Show more
            </a>
        </div>
    </div>
}
