@model PostViewModel
@{
    ViewData["Title"] = Model.Title;
}

@section head {
    <link rel="stylesheet" href="~/lib/editormd/css/editormd.preview.min.css">
    <style>
        body {
            padding: 40px;
        }

        #layout>header,
        .btns {
            width: auto;
        }

        #sidebar {
            width: 400px;
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            overflow: hidden;
            background: #fff;
            z-index: 100;
            padding: 18px;
            border: 1px solid #ddd;
            border-top: none;
            border-bottom: none;
        }

        #sidebar:hover {
            overflow: auto;
        }

        #sidebar h1 {
            font-size: 16px;
        }

        #custom-toc-container {
            padding-left: 0;
        }

        #test-editormd-view,
        #test-editormd-view2 {
            padding-left: 0;
            padding-right: 430px;
            margin: 0;
        }
    </style>
}

<div id="layout" class="container">
    <header>
        <h1>Markdown to HTML Display Processing Custom Table of Contents Container</h1>
        <p>This refers to HTML preview in non-editing mode.</p>
        <p>HTML Preview (markdown to html and custom Table of Contents container)</p>
    </header>
    <div class="btns">
        <button onclick="location.href='./html-preview-markdown-to-html.html';">Return Back</button>
    </div>
    <div id="sidebar">
        <h1>Table of Contents</h1>
        <div class="markdown-body editormd-preview-container" id="custom-toc-container">#custom-toc-container</div>
    </div>
    <div id="test-editormd-view">
        <textarea style="display:none;" name="test-editormd-markdown-doc">@Model.Content</textarea>
    </div>
    <div id="test-editormd-view2">
        <textarea id="append-test" style="display:none;">@Model.Content</textarea>
    </div>
</div>

@section bottom {
    <script src="~/lib/editormd/examples/js/jquery.min.js"></script>
    <script src="~/lib/editormd/lib/marked.min.js"></script>
    <script src="~/lib/editormd/lib/prettify.min.js"></script>
    <script src="~/lib/editormd/lib/raphael.min.js"></script>
    <script src="~/lib/editormd/lib/underscore.min.js"></script>
    <script src="~/lib/editormd/lib/sequence-diagram.min.js"></script>
    <script src="~/lib/editormd/lib/flowchart.min.js"></script>
    <script src="~/lib/editormd/lib/jquery.flowchart.min.js"></script>
    <script src="~/lib/editormd/editormd.min.js"></script>

    <script type="text/javascript">
        $(function () {
            var testEditormdView, testEditormdView2;

            testEditormdView = editormd.markdownToHTML("test-editormd-view2", {
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                //toc             : false,
                tocm: true,    // Using [TOCM]
                tocContainer: "#custom-toc-container", // custom ToC container layer
                //gfm             : false,
                //tocDropdown     : true,
                // markdownSourceCode : true, // whether to keep Markdown source code, i.e., delete the Textarea tag containing source code
                emoji: true,
                taskList: true,
                tex: true,  // default not parsed
                flowChart: true,  // default not parsed
                sequenceDiagram: true,  // default not parsed
            });
        });
    </script>
}
