<div class="mt-5">
    <div class="d-flex justify-content-between border-bottom pb-1">
        <h5>Comments</h5>
        <button class="btn btn-link">Refresh</button>
    </div>

    <form class="my-3">
        <div class="mb-1">
            <label for="content" class="form-label sr-only">Comment Content</label>
            <textarea class="form-control" id="content" aria-describedby="commentContent"
                      placeholder="Friendly comments are the starting point for communication"></textarea>
            <div class="form-text">One kind word can warm three winter months, one cruel word can chills six summer
                months.
            </div>
        </div>
        <button class="btn btn-outline-primary float-end">Submit Comment</button>
    </form>
</div>
