@model PostViewModel

<div class="mt-5" id="vue-comment">
    <div class="d-flex justify-content-between border-bottom pb-1">
        <h5>Comments</h5>
        <button class="btn btn-link">Refresh</button>
    </div>

    <form class="my-3">
        <div class="mb-1">
            <label for="content" class="form-label sr-only">Comment Content</label>
            <textarea class="form-control" id="content" aria-describedby="commentContent"
                      placeholder="Friendly comments are the starting point for communication"></textarea>
            <div class="form-text">One kind word can warm three winter months, one cruel word can chills six summer
                months.
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary">Post Comment</button>
            </div>
        </div>
    </form>

    <div class="list-group mt-3">
        <div class="list-group-item" v-for="comment in comments">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{comment.anonymousUser.name}}</h5>
                <small class="text-muted">{{comment.createdTime}}</small>
            </div>
            <p class="mb-1">{{comment.content}}</p>
            <small class="text-muted">{{comment.anonymousUser.url}}</small>
        </div>
    </div>
</div>

<script>const POST_ID = '@Model.Id'</script>