<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    @if (ViewData.ContainsKey("title"))
    {
        <title>MyBlog - @ViewData["title"]</title>
    }
    else
    {
        <title>MyBlog</title>
    }

    @* <link rel="stylesheet" href="~/css/metro.css"> *@
    @* <link rel="stylesheet" href="~/css/footer.css"> *@
    @* <link rel="stylesheet" href="~/css/index.css"> *@
    @* <link rel="stylesheet" href="~/css/animation.css"> *@

    <link rel="stylesheet" href="~/lib/fontawesome-free-6.0.0-web/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootswatch/dist/litera/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/prismjs/dist/themes/prism.min.css">
    <link rel="stylesheet" href="~/css/app.min.css">

    @await RenderSectionAsync("head", false)
</head>

<body class="metro-bg-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light border-0">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">MyBlog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Blog" asp-action="List">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Photography" asp-action="Index">Photography</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Text</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another action</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="vue-app">
            @RenderBody()
        </div>
    </div>

    <footer class="metro-bg-black">
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div id="footer-content" class="col-md-10 col-md-offset-3 footer-list text-center">
                        <p class="social-icons">
                            <a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/john-yang-70a5722a6/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a target="_blank" rel="nofollow" href="https://github.com/shimakaze09">
                                <i class="fab fa-github"></i>
                            </a>
                        </p>
                        <p>Copyright 2024 <b>John</b>. All Rights Reserved.</p>
                        <p>
                            All content is released under <a
                                href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en" rel="external nofollow"
                                target="_blank">Creative Commons BY-NC-SA 3.0</a>.
                            If articles including programming codes (e.g. Java, Python, C#, Go) are exceptions, which
                            are
                            released under
                            <a href="https://opensource.org/license/mit" rel="external nofollow"
                                target="_blank">MIT</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/prismjs/dist/prism.js"></script>
    <script src="~/js/app.min.js"></script>
    @await RenderSectionAsync("bottom", false)
</body>

</html>