@using Web.Contrib.SiteMessage
@inject MessageService Messages

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MyBlog;">
    <meta name="author" content="DealiAxy">
    <meta name="generator" content="MyBlog">
    @if (ViewData["Title"] != null)
    {
        <title>@ViewData["Title"] - MyBlog</title>
    }
    else
    {
        <title>MyBlog · John</title>
    }

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/features.css">
    <link rel="stylesheet" href="~/css/metro.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <script src="~/js/site.preload.js"></script>

    @await RenderSectionAsync("head", false)
</head>

<body>

<partial name="Widgets/Header2"/>

<main id="vue-app">
    <div class="container mt-3">
        @while (!Messages.IsEmpty)
        {
            var message = Messages.Dequeue();
            <partial name="Widgets/Alert" model="message"/>
        }
    </div>
    @RenderBody()
</main>

<footer class="bg-dark">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div id="footer-content" class="col-md-10 col-md-offset-3 footer-list text-center">
                    <p class="social-icons">
                        <a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/john-yang-70a5722a6/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a target="_blank" rel="nofollow" href="https://github.com/shimakaze09">
                            <i class="fab fa-github"></i>
                        </a>
                    </p>

                    <p>
                        Copyright © @DateTime.Now.Year.ToString()
                        <a href="https://github.com/shimakaze09">shimakaze09</a>.
                        All Rights Reserved.
                    </p>
                    <p>
                        All content is released under
                        <a href="https://opensource.org/license/mit" rel="external nofollow" target="_blank">
                            MIT License
                        </a>.
                    </p>
                    <p>
                        This site built using <a href="https://dotnet.microsoft.com/">.NET Core</a> technology
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/vue/dist/vue.js"></script>

<environment include="Development">
    <script src="~/js/site.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site.min.js"></script>
</environment>

@await RenderSectionAsync("bottom", false)
</body>

</html>